.popup {
    height: 100%;
    min-height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
}

.popup.show-footer {
    justify-content: flex-start;
}